---
import Layout from "../layouts/Layout.astro";
---


<Layout title="About">
    <h1>Abou the proyect</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officia rerum esse error modi, vel natus. Quis unde consequatur quo dolores, reprehenderit similique cupiditate deserunt soluta iste odio! Saepe, minus!</p>
</Layout>